.development {
    max-width: 900px;
    flex: 1;
}
@media (max-width: 1400px) {
    .development {
        max-width: 100%;
    }
}
.dev-header h1{
    font-size: 40px;
    font-weight: 700;

    margin: -10px 0 10px 0;
}
.dev-header h2 {
    font-size: 24px;
    font-weight: 500;
    opacity: 0.5;

    margin-bottom: 20px;
}
.tech-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
@media (max-width: 922px) {
    .tech-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 776px) {
    .tech-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
.tech-card {
    display: flex;
    gap: 16px;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    background: #09021C;
    border-radius: 16px;
    padding: 20px;
    transition: all 0.2s ease;
    cursor: pointer;
}
.tech-icon {
    width: auto;
    height: 36px;
    object-fit: contain;
}

.projects-section {
    margin-top: 20px;
}
.projects-title {
    font-size: 24px;
    font-weight: 500;
    opacity: 0.5;

    margin-bottom: 20px;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}
@media (max-width: 1645px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}