.profile-card {
    width: 400px;
    background: var(--box-color);
    border-radius: 24px;
    overflow: hidden;
    position: relative;

    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 0.8s ease forwards;
}
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 1400px) {
    .profile-card {
        width: 100%;
    }
}

.banner-wrapper {
    width: 100%;
    height: 170px;
    overflow: hidden;
}
.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 50px 32px 10px 32px;
    position: relative;
}

.avatar-wrapper {
    position: absolute;
    top: -60px;
    left: 20px;
}
.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--box-color);
}
.status-dot {
    position: absolute;
    bottom: 12px;
    right: 15px;
    width:20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(0, 218, 15);
}

.name {
    font-size: clamp(1.3rem,2vw,1.8rem);
    font-weight: 700    ;

    margin-top: 16px;
}
.alias {
    font-size: clamp(1rem,1.2vw,1.2rem);
    font-weight: 500;
    opacity: 0.5;

    margin-bottom: 20px;
}

.roles {
    display: flex;
    gap: 8px;
}
@media (max-width: 497px) {
    .roles {
        flex-direction: column;
    }
}
.role {
    font-size: 16px;
    font-weight: 500;

    padding: 8px 12px;
    border: 1px solid var(--text-color);
    border-radius: 12px;
    transition: all 0.3s ease;
    cursor: not-allowed;
}
.role:hover {
    background: var(--accent-color);
    color: var(--box-color);
    border: 1px solid var(--accent-color);
}

.bio {
    margin: 20px 0 20px 0;

    font-size: clamp(1rem,1.2vw,1.2rem);
    font-weight: 400;
    opacity: 0.8;
}

.social-links {
    display: flex;]
    flex-wrap: wrap;
    gap: clamp(8px, 3.5vw, 16px);
    align-items: flex-start;

    margin-top: 40px;
}
.social-links a {
    color: var(--text-color);
    font-size: clamp(20px, 6vw, 32px);
    transition: all 0.2s ease;

    cursor: none;
}
.social-links a:hover {
    color: var(--text-color);
    transform: translateY(-3px);
}
