.profile-card {
    width: 400px;
    background: #09021C;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
}
@media (max-width: 1400px) {
    .profile-card {
        width: 100%;
    }
}

.banner-wrapper {
    width: 100%;
    height: 170px;
    overflow: hidden;
}
.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 50px 32px 10px 32px;
    position: relative;
}

.avatar-wrapper {
    position: absolute;
    top: -60px;
    left: 20px;
}
.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #09021C;
}
.status-dot {
    position: absolute;
    bottom: 12px;
    right: 15px;
    width:20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(0, 218, 15);
}

.name {
    font-size: 24px;
    font-weight: 700    ;

    margin-top: 16px;
}
.alias {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.5;

    margin-bottom: 20px;
}

.roles {
    display: flex;
    gap: 8px;
}
@media (max-width: 497px) {
    .roles {
        flex-direction: column;
    }
}
.role {
    font-size: 16px;
    font-weight: 500;

    padding: 4px 12px;
    border: 1px solid rgba(255,255,255,1);
    border-radius: 12px;
    transition: all 0.3s ease;
    cursor: not-allowed;
}
.role:hover {
    background: #7b2ff7;
    color: #09021C;
    border: 1px solid #7b2ff7;
}

.bio {
    margin: 20px 0 20px 0;

    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
}

.social-links {
    display: flex;
    gap: 16px;

    margin-top: 40px;
}
.social-links a {
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    transition: all 0.2s ease;
}
.social-links a:hover {
    color: rgb(221, 202, 250, 1);
    transform: translateY(-3px);
}