.app {
  min-height: 100vh;
  padding-top: 150px;
  padding-left: clamp(20px, 10vw, 150px);
  padding-right: clamp(20px, 10vw, 150px);
}

.top-accent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: linear-gradient(
          90deg,
          #7b2ff7,
          #5500ff
  );
  box-shadow: 0 5px 20px rgba(123, 47, 247, 0.7);
  z-index: 1000;
}

.container {
  display: flex;
  gap: 80px;
  justify-content: center;
}
@media (max-width: 1400px) {
  .container {
    flex-direction: column;
  }
}