:root {
  --sf-pro: "SF Pro", system-ui, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--sf-pro);
  background-color: rgba(3, 0, 12, 1);
  color: white;
}



