:root {
  --sf-pro: "SF Pro", system-ui, sans-serif;
  --mouse-x: 50%;
  --mouse-y: 50%;

  /*colors*/
  --bg-color: #060C00;
  --box-color: #0D1B00;
  --accent-color: #77FF00;
  --accent-color-two: #00FF09;
  --accent-color-faded: rgba(0, 255, 0, 0.4);
  --text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.light {
  --bg-color: #ffffff;
  --box-color: #eeeeee;
  --accent-color: #77FF00;
  --text-color: #000000;
}

body {
  cursor: none;

  font-family: var(--sf-pro), serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;

  background: radial-gradient(
    32px circle at var(--mouse-x) var(--mouse-y), rgb(13, 27, 0), transparent 80%
  );
  transition: background 0.05s ease;
}

.custom-cursor {
  left: 50%;
  top: 50%;
  position: fixed;
  width: 16px;
  height: 16px;
  border-radius: 50%;

  background: rgba(119, 255, 0, 0.02);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  border: 1px solid rgba(119, 255, 0, 0.3);

  pointer-events: none;
  transform: translate(-50%, -50%);

  transition: transform 0.1s ease;
  z-index: 9999;
}
@media (pointer: coarse) {
  .custom-cursor {
    display: none;
  }
  body {
    cursor: auto;
  }
}




